* {
  padding: 0;
  margin: 0;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 400px;
}

.cards > div{
  border: 1px #000 solid;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100px;
    height: 100%;
    color: #202124;
}

.card-container{

}